body {
    margin: 0;
}
.container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    font-family: 'Nanum Gothic', sans-serif;
}
nav {
    grid-column:1/7;
    display:flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.3em;
    background-color: #3C6BA4;
    padding: 20px;
}
a:link, a:visited, a:active {
    color: white;
    text-decoration:none;
}
a:hover {
    color: white;
    font-weight: bold;
}
img {
    max-width: 100%;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}
h1, .hero-image, .research, .challenge, .conclusion, .design, .overview {
    grid-column: 2/6;
}